/* 
    This is the file for defining variables for style. These variables are then used all over the app.
*/

// Colors
$off-black: #20222B;
$light-purple: #A5AFD7;
$dark-blue: #333745;


// Spacing
$medium-size: 1.6rem;
$large-size: 3.2rem;
$xl-size: 4.8rem;